body {

    background-color: rgb(79, 6, 79);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    background-image: none;
}





.dropdown:hover .dropdown-menu {
    /* drop down hover from https://stackoverflow.com/questions/16214326/bootstrap-dropdown-with-hover */
    display: block;
    margin-top: 0;

}

.dropdown-item:focus,
.dropdown-item:hover {
    /* change color from https://mdbootstrap.com/support/general/navbar-dropdown-color-scheme-and-highlighted-items/ */
    background-color: darkred !important;
}

.btn-outline-red:hover {
    background-color: darkred !important;

}

.btn {
    color: white !important;

}

video {
    width: 100%;
    height: auto;
}

button {
    border: none !important;
}

.adjust-line-height {
    line-height: 1.5em;
}

.adjust-line-height-large {
    line-height: 2em;
}

#textleft {
    text-align: left;
}

#textright {
    text-align: right;
}

.div-textright {
    text-align: right;
}

.div-textleft {
    text-align: left;
}

.p-smalltext {
    font-size: 60%;
}

